@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  font-style: normal;
}

.hero {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.why_choose_us {
  width: 1350px;
}

a:hover {
  background: linear-gradient(
    45deg,
    rgba(251, 71, 56, 1) 0%,
    rgba(254, 125, 21, 1) 96%
  );
  border-radius: 9999px;
}

.about_us,
.hero,
.thematic,
.our_services h1 {
  font-size: 50px;
}
.about_us h1 {
  font-size: 50px;
}

.about_us,
.hero p {
  font-size: 25px;
}

.gradient {
  background: linear-gradient(
    45deg,
    rgba(251, 71, 56, 1) 0%,
    rgba(254, 125, 21, 1) 96%
  );
}

.button {
  padding: 16px 30px;
  border-radius: 25px;
}
.about_us,
.our_clients,
.testimonial,
.thematic,
.our_services h1 {
  color: #642392 !important;
}

.circle {
  width: 110px;
  height: 111px;
  border-radius: 50%;
  border: 5px solid #642392;
  overflow: hidden;
  position: relative;
}

.circle img {
  width: 100%;
  height: auto;
  position: absolute;
  object-fit: fill;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle1 {
  width: 170px;
  height: 171px;
  border-radius: 50%;
  border: 5px solid #642392;
  overflow: hidden;
  position: relative;
}

.mobile {
  width: 390px;
  height: 80vh;
}
.violet {
  color: #642392;
}
/* cutome butoon */
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 1rem 3.2rem;
  background-color: #441355;
  color: #fff;
  border: none;
  position: relative;
  transition: background-color 0.3s ease;
}

.button-logo {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 5px;
}

.button-text {
  font-size: 1rem;
}

.card {
  max-width: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.c1 {
  width: 67px;
  height: 66px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
}

.logo {
  width: 25px;
  height: 25px;
}
